{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to {{ shop_name }} by {{ name }}</h1>
    <p>NPM: {{ npm }}</p>
    <p>Class: {{ class_name }}</p> 

    {% if not product_entry %}
    <p>Belum ada data product pada AyoBelanja.</p>
    {% else %}
    <table>
    <tr>
        <th>Product Name</th>
        <th>Time</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    {% for product in product_entry %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.time }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a href="{% url 'main:edit_product' product.pk %}">
                <button>
                    Edit
                </button>
            </a>
        </td>
        <td>
            <a href="{% url 'main:delete_product' product.pk %}">
                <button>
                    Delete
                </button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}

    <br />

    <a href="{% url 'main:create_name_entry' %}">
        <button>Add New Product Entry</button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
</body>
</html>
{% endblock content %}
